@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

#root{
  min-height: 100vh;
  display: flex;
}

.text-gradient {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
  gap:15px;
}

.result::-webkit-scrollbar {
  display: none;
}
.loader-bg{
  background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
  background-size: 800px 50px ;
}